<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hakira.gate.mapper.hakiraUserMapper"> <!-- namespace应与接口全限定名一致 -->

    <!-- 更复杂的查询可能需要使用resultMap来描述结果集的映射关系 -->
    <resultMap id="userResultMap" type="com.hakira.gate.pojo.dao.hakiraUser">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="roleId" column="roleId"/>
        <result property="registrationDate" column="registrationDate"/>
        <result property="lastLoginDate" column="lastLoginDate"/>
        <result property="createUser" column="createUser"/>
        <result property="createDate" column="createDate"/>
        <result property="createTime" column="createTime"/>
        <result property="updateUser" column="updateUser"/>
        <result property="updateDate" column="updateDate"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <!-- 插入用户示例 -->
    <insert id="insertUser">
        INSERT INTO hakira_user (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <!-- 更新用户示例 -->
    <update id="updateUser">
        UPDATE hakira_user
        SET username = #{username},
        password = #{password}
        WHERE id = #{id}
    </update>

    <!-- 删除用户示例 -->
    <delete id="deleteUser">
        DELETE
        FROM hakira_user
        WHERE id = #{id}
    </delete>

    <!-- 查询用户示例 -->
    <select id="findUserById" resultType="com.hakira.gate.pojo.dao.hakiraUser">
        SELECT *
        FROM hakira_user
        WHERE id = #{id}
    </select>

    <!-- 查询用户示例 -->
    <select id="queryUserList" resultMap="userResultMap">
        SELECT *
        FROM hakira_user
    </select>

    <!-- 使用resultMap的例子 -->
    <select id="getUserWithDetails" resultMap="userResultMap">
        SELECT *
        FROM hakira_user u
        WHERE id = #{id}
    </select>

</mapper>
